@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
body {
    font-family: 'Patrick Hand', cursive;
}

#landing-page {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/RM_page-header_background.png");
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

#landing-page a {
    text-decoration: none;
    display: grid;
    justify-content: center;
}

#landing-page > img {
    align-self: center;
    justify-self: center;
    margin-left: 2vw;
}

.games-buttons {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
}

.start-game {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 20vw;
    height: 5vh;
    color: #000000;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    background: #00b0c8;
    border: 2px solid #95978f;
    box-shadow: 0 0 40px #5fa43d;
    cursor: pointer;
}

.start-multiplayer-game {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 20vw;
    height: 5vh;
    color: #000000;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    background: #a5d049;
    border: 2px solid #00b0c8;
    box-shadow: 0 0 40px #5fa43d;
    cursor: pointer;
}


