@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
* {
    font-family: 'Patrick Hand', cursive;
}

#game-border {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/RM_page-header_background.png");
    background-size: cover;
}

#space-background {
    width: 100vw;
    height: 100vh;
}

/* #space-ship > img {
    height: 6vh;
} */

#space-ship {
    position: absolute;
}

.laser {
    height: 3px;
    width: 20px;
    position: absolute;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #FF0022;
    box-shadow: 0 0 70px 7px #FF596F;
}

/* Enemies */
.enemy {
    display: inline-block;
    position: absolute;
}

.explosion {
    display: inline-block;
    position: absolute;
}

.explosion > img {
    height: 50px;
}

.explosion>img {
    animation-duration: 1s;
}
  
#reaper > img {
    height: 9vh;
    /* width: 4vw; */
}

#poopy > img {
    height: 10vh;
    /* width: 2vw; */
}

#martin > img {
    height: 10vh;
    /* width: 5vw; */
}

#rick-and-morty > img {
    height: 10vh;
    /* width: 3vw; */
}

#ass-morty > img {
    height: 10vh;
    /* width: 2vw; */
}

#pickle > img {
    height: 10vh;
    /* width: 2vw; */
}

#robot > img {
    height: 10vh;
    /* width: 4vw; */
}

#squirrel > img {
    height: 10vh;
    /* width: 7vw; */
}

/* user-navbar */
.navbar-user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    height: 4vh;
    align-items: center;
}

.user-status {
    color: white;
    margin-left: 1vw;
    text-transform: uppercase;
}

i {
    color: white;
    justify-self: end;
    margin-right: 1vw;
    cursor: pointer;
}

/* next-level-popup */
#next-level {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    height: 25vh;
    width: 50vw;
}

#next-level>h1 {
    color: #62a839;
    font-size: 50px;
    text-transform: uppercase
}

#next-level > h3 {
    color: #e2e25a;
    cursor: pointer;
    font-size: 30px;
}

/* losing-popup */
.losing-popup {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 25%;
    height: 25vh;
    width: 50vw;
}

.losing-popup > h1 {
    color: #FF0022;
    font-size: 50px;
    text-transform: uppercase
}

.player-choose-next {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    align-items: center;
}

.start-new-game {
    border: none;
    width: 10vw;
    justify-self: end;
    border-radius: 25px;
    height: 5vh;
    background-color: #00b0c8;
}

.player-choose-next > a {
    justify-self: start;
}

.exit-button {
    width: 10vw;
    border: none;
    border-radius: 25px;
    height: 5vh;
    background-color: #a5d049;
}