#spaceShipBorder {
    width: 100%;
    height: 600px;
    background-image: url("../../images/RM_page-header_background.png");
    background-size: cover;
    position: absolute;
}

#hero {
    width: 101px;
    height: 58px;
    background-image: url("../../images/rick-and-morty-szechuan-sauce-png.png");
    background-size: cover;
    position: absolute;
}