
#game-border {
    width: 100vw;
    height: 100vh;
}

#space-background {

    width: 100vw;
    height: 100vh;
    background-image: url("../../images/RM_page-header_background.png");
    background-size: cover;
}

#hero {
    width: 101px;
    height: 58px;
    background-image: url("../../images/rick-and-morty-szechuan-sauce-png.png");
    background-size: cover;
    position: absolute;
}